<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
tu będzie lista klientów

<table>
    <tr>
        <th>ID</th>
        <th>Nazwa</th>
        <th>Adres</th>
        <th>Telefon</th>
        <th>Email</th>
        <th>ostatni kontakt</th>
    </tr>
    <!--/*@thymesVar id="client" type="com.example.bestcrmintheunivers.entities.Client"*/-->
    <tr th:each="client: ${clients}">
        <td th:text="${client.id}"></td>
        <td th:text="${client.name}"></td>
        <td th:text="${client.address}"></td>
        <td th:text="${client.phone}"></td>
        <td th:text="${client.email}"></td>
        <td th:text="${client.lastContact}"></td>
        <td><a th:href="@{/client/delete/{id}(id=${client.id})}">usuń</a></td>
    </tr>
</table>

</body>
</html>